<div class="jumbotron jumbotron-fluid text-center my-5">
    <div class="container">
      <h1 class="display-4">O que é ateliê digital?</h1>
      <p class="lead">Ateliê Digital é uma plataforma de contratação de serviços de costura.<br>
        Conectamos Profissionais da costura com pessoas solicitando serviços,
         atendendo com qualidade, facilidade e rapidez os pedidos de confecção de roupas personalizadas 
         e ajustes em roupas prontas.</p>
    </div>

    <div class="container my-5">
    <div class="card-deck" >
           

              <div class="flip-card-container">
                <div class="flip-card">
                  <div class="flip-card-front">
                    <img src="../assets/img/illustration-touch-screen-hand-gesture/5607.jpg">
                  </div>
                  <div class="flip-card-back">
                    <h2>
                      Encontre o profissional mais próximo, rápido, fácil e sem custos.
                      
                    </h2>
                  </div>
                </div>
              </div>

              <div class="flip-card-container">
                <div class="flip-card">
                  <div class="flip-card-front">
                    <img src="../assets/img/OS90LM0.jpg">
                  </div>
                  <div class="flip-card-back">
                    <h2>
                      Entre em contato direto com o profissional.
                    
                    </h2>
                  </div>
                </div>
              </div>
           
              <div class="flip-card-container ">
                <div class="flip-card">
                  <div class="flip-card-front">
                    <img src="../assets/img/5893.jpg">
                  </div>
                  <div class="flip-card-back">
                    <h2>
                      Pronto. Agora é só fazer ou ajustar suas roupas!
                    
                    </h2>
                  </div>
                </div>
              </div>
          </div>
        </div>
  </div>