<div class="jumbotron jumbotron-fluid text-center my-5">
    <div class="container">
      <h1 class="display-4">O que é ateliê digital?</h1>
      <p class="lead">Ateliê Digital é uma plataforma de contratação de serviços de costura.<br>
        Conectamos Profissionais da costura com pessoas solicitando serviços,
         atendendo com qualidade, facilidade e rapidez os pedidos de confecção de roupas personalizadas 
         e ajustes em roupas prontas.</p>
    </div>

    <div class="container my-5">
    <div class="card-deck" >
            <div class="card">
              <img class="card-img-top"  src="../../../assets/img/illustration-touch-screen-hand-gesture/5607.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Encontre o profissional mais próximo. </h5>
                
              </div>
            </div>
            
            <div class="card">
              <img class="card-img-top" src="../../../assets/img/OS90LM0.jpg" alt="Imagem de capa do card">
              <div class="card-body-center">
                <h5 class="card-title my-5">Contacte o profissional.</h5>
               
              </div>
            </div>
        
            <div class="card" >
              <img class="card-img-top" src="../../../assets/img/5893.jpg" alt="Imagem de capa do card">
              <div class="card-body">
                <h5 class="card-title">Pronto. Agora é só fazer ou ajustar suas roupas!</h5>
                
              </div>
            </div>
          </div>
        </div>
  </div>