<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/img/logo.jpeg" id="icon" alt="User Icon" />
        <h1>Efetuar Login</h1>
      </div>
  
      <form [formGroup]="loginForm" (ngSubmit)="login()">
          <input type="text" id="email" class="fadeIn second" name="email" formControlName="email" placeholder="E-mail ou Usuario">
          <div *ngIf="formControls.email.errors.required">E-mail Obrigatorio</div>
        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <input type="password" placeholder="Senha" formControlName="senha">
          </p>
            <div *ngIf="formControls.password.errors.required">Senha Obrigatoria</div>
            <input type="submit" class="fadeIn fourth" value="Login">
          </form>
  
      <div id="formFooter">
        <a class="underlineHover" routerLink="/cadastro">Seja um Profissional</a>
      </div>
  
    </div>
  </div>