<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/img/logo.jpeg" id="icon" alt="User Icon" />
        <h1>Efetuar Login</h1>
      </div>

      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <input type="text" id="nome" class="fadeIn second" name="nome" [(ngModel)]="form.nome" #username="ngModel" placeholder="E-mail ou Usuario">
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required"><span class="error">Por favor, preencha o campo usuário ou E-mail</span></div>
        </div>
        <input type="password" id="password" class="fadeIn third" name="password" [(ngModel)]="form.senha" #password="ngModel" required minlength="8" placeholder="Senha">
        <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required"><span class="error">Por favor, preencha o campo senha</span></div>
            <div *ngIf="password.errors.minlength"><span class="error">O campo senha deve ter mais que 8 caracteres</span></div>
            </div>
            <input type="submit" class="fadeIn fourth" value="Login">
            <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                <span class="error">Falha no login: {{errorMessage}}</span>
              </div>
          </form>

      <div id="formFooter">
        <a class="underlineHover" routerLink="/registro">Seja um Profissional</a>
      </div>

    </div>
  </div>
