<h3>Atualizar Cliente</h3>
<div [hidden]="submitted" class="criarCliente">

  <form  (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input type="hidden" name="id" class="form-control" id="id" required >
    </div>
    <div class="form-group">
      <label for="nome">Nome:</label>
      <input type="text" name="nome" class="form-control" id="nome" required >
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name="email" class="form-control" id="email" required >
    </div>
    <div class="form-group">
      <label for="senha">Senha:</label>
      <input type="password" name="senha" class="form-control" id="senha" required >
    </div>
    <button  type="submit" (click)="onSubmit()" class="btn btn-success">Atualizar</button>
  </form>
</div>

<div [hidden]="!submitted" class="alert alert-success">
  <h4 class="">Atualizado com sucesso!</h4>
  <!-- <button class="btn btn-success" (click)="clienteAtualizado()">Atualizar<button> -->
</div>

