<div class="container">
<footer class="page-footer">

    <ul class="list-unstyled list-inline text-center py-2">
        <li class="list-inline-item text-white">
              <h5 class="mb-1 text-white">Seja um Profissional!</h5>
        </li>
        <li class="list-inline-item text-white">
              <a href="profissional.html" class="btn btn-outline-white btn-rounded">Cadastro</a>
        </li>
    </ul>
       
    <div class="footer-copyright text-center py-3 text-white">© 2019 Copyright: ateliê digital São Paulo,SP
    
</div>
</footer>
</div>


