<app-navbar></app-navbar>
<div class="encontre">
<div class="container my-5">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group" id="adv-search">
                    <input type="text" class="form-control" placeholder="Search for snippets" />
                    <div class="input-group-btn">
                        <div class="btn-group" role="group">
                            <div class="dropdown dropdown-lg">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <div class="dropdown-menu dropdown-menu-right" role="menu">
                                    <form class="form-horizontal" role="form">
                                      <div class="form-group">
                                        <label for="filter">Filtrar Por</label>
                                        <select class="form-control">
                                            <option value="0" selected>Todos as Zonas</option>
                                            <option value="1">Zona Leste</option>
                                            <option value="2">Zona Sul</option>
                                            <option value="3">Zona Norte</option>
                                            <option value="4">Zona Oeste</option>
                                            <option value="5">Centro</option>

                                        </select>
                                      </div>
                                      
                                      <div class="form-group my-5">
                                        <label for="contain">Contém as Palavras</label>
                                        <input class="form-control" type="text" />
                                      </div>
                                      <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                    </form>
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>