<h3>Cadastro de Profissional</h3>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col">
       <div class="form-group">
          <label for="nome">Tipo:</label>
          <input type="text" formControlName="tipo" name="tipo" class="form-control" id="tipo"  >
        </div>
        <div class="form-group">
          <label for="numero">Numero:</label>
          <input type="number" formControlName="numero" name="numero" class="form-control" id="numero" >
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="descricao">Descrição:</label>
          <input type="text" formControlName="descricao" name="descricao" class="form-control" id="descricao"  >
        </div>
        <div class="form-group">
          <label for="valor">Valor:</label>
          <input type="text" formControlName="valor" name="valor" class="form-control" id="valor"  >
        </div>
      </div>
      </div>
      <div class="row justify-content-end">
        <button  type="submit" class="btn btn-success mr-3">Salvar</button>
      </div>
    </form>




