<div class="jumbotron jumbotron-fluid my-5">
    <div class="container">
    <div class="card-deck" >
           
              <div class="flip-card-container">
                <div class="flip-card">
                  <div class="flip-card-front">
                    <h2>Plano Mensal</h2> 

                  </div>
                  <div class="flip-card-back">
                    <p>30 dias
                     <span>R$ 30,00 </span>  
                    </p>            
                    
                  </div>
                </div>
              </div>

              <div class="flip-card-container">
                <div class="flip-card">
                  <div class="flip-card-front">
                        <h2>Plano Trimestral</h2> 
                  </div>
                  <div class="flip-card-back">
                        <p> 3 meses
                         <span>R$ 50,00 </span>  
                     </p>      
                  </div>
                </div>
              </div>
              <div class="flip-card-container">
                  <div class="flip-card">
                    <div class="flip-card-front">
                            <h2>Plano Semestral</h2> 
                    </div>
                    <div class="flip-card-back">
                        <p> 6 meses
                            <span>R$ 75,00 </span>  
                        </p>     
                    </div>
                  </div>
                </div>
           
              <div class="flip-card-container ">
                <div class="flip-card">
                  <div class="flip-card-front">
                        <h2>Plano Anual</h2>
                  </div>
                  <div class="flip-card-back">
                        <p> 1 ano
                         <span>R$ 75,00 </span>  
                        </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>




<div class="container">
    <div class="row justify-content-center">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-header" style="background: #0b2438">
                                    <h1>Cadastrar</h1>
                                </div>
                                <div class="card-body">

                                    <form (ngSubmit)="onSubmit()" class="form-horizontal" method="post" action="#">

                                        <div class="form-group">
                                            <label for="name" class="cols-sm-2 control-label">Seu Nome</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="name" id="name"
                                                    required [(ngModel)]="profissional.nome" placeholder="Exemplo da Silva" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="email" class="cols-sm-2 control-label">Seu E-mail</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="email" id="email"
                                                    required [(ngModel)]="profissional.email" placeholder="exemplo@gmail.com" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="cep" class="cols-sm-2 control-label">CEP</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                    <input type="text" class="form-control" name="cep" id="cep" placeholder="08423256"
                                                    required [(ngModel)]="profissional.cep" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="regiao" class="cols-sm-2 control-label">Região</label>
                                            <select class="custom-select" name="regiao" id="regiao" [(ngModel)]="profissional.regiao">
                                              <option value="Região norte">Região Norte</option>
                                              <option value="Região sul">Região Sul</option>
                                              <option value="Região oeste">Região Oeste</option>
                                              <option value="Região leste">Região Leste</option>
                                              <option value="Região central">Região Central</option>
                                            </select>
                                        </div>
                                      <div class="form-group">
                                        <label for="cpf" class="cols-sm-2 control-label">CPF</label>
                                        <div class="cols-sm-10">
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="cpf" id="cpf" placeholder="12345678900"
                                                required [(ngModel)]="profissional.cpf" />
                                            </div>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <label for="telefone" class="cols-sm-2 control-label">Telefone</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                    <input type="number" class="form-control" name="telefone" id="telefone" placeholder="12345678900"
                                                    required [(ngModel)]="profissional.telefone" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="plano" class="cols-sm-2 control-label">Plano</label>
                                            <select class="custom-select" name="plano" id="plano" [(ngModel)]="profissional.plano">
                                              <option value="semestral">Semestral</option>
                                              <option value="mensal">Mensal</option>
                                              <option value="trimestral">Trimestral</option>
                                              <option value="anual">Anual</option>
                                            </select>
                                        </div>
                                        <!--
                                          <div class="form-group">
                                            <label for="plano" class="cols-sm-2 control-label">Plano</label>
                                            <div class="cols-sm-10">
                                              <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                                <input type="text" class="form-control" name="plano" id="plano" placeholder="Plano"
                                                required [(ngModel)]="profissional.plano" />
                                              </div>
                                            </div>
                                          </div>
                                        -->

                                        <div class="form-group">
                                            <label for="password" class="cols-sm-2 control-label">Senha</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="password" class="form-control" name="password" id="password" placeholder="Sua Senha"
                                                    required [(ngModel)]="profissional.senha" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="confirm" class="cols-sm-2 control-label">Confirmar Senha</label>
                                            <div class="cols-sm-10">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                                    <input type="password" class="form-control" name="confirm" id="confirm" placeholder="Confirmar senha" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <button  type="submit" class="btn mr-3"  style="background: #0b2438">
                                            <h5>Cadastrar</h5>
                                            </button>
                                        </div>
                                        <div [hidden]="!submitted" class="alert alert-success">
                                                <h4 class="">Enviado com sucesso!</h4>
                                                <!-- <button class="btn btn-success" (click)="newPessoa()">Adicionar<button> -->
                                                </div>

                                        <div class="login-register">
                                            <a href="/login">Login</a>
                                        </div>
                                    </form>
