/* You can add global styles to this file, and also import other style files */
/*body{
    background: -moz-linear-gradient(top,  #7db9e8 0%, #071e33  70%);
background: -webkit-linear-gradient(top,  #7db9e8 0%,#071e33  70%);
background: linear-gradient(to bottom,  #7db9e8 0%,#071e33 70%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#207cca',GraGradientType=0 );
}
*/