
<div class="container my-5 text-center">

        <h1 class="display-4">Sobre nós!</h1>
        <p class="lead text-center">Quem é que não tem ao menos uma peça de roupa guardada em seu quarto
            (casa) esperando o dia em que possa mandar ajustá-la a um profissional? E
            claro, não pode ser qualquer profissional, não é?!
            Afinal de contas, as nossas roupas precisam estar em boas mãos, e essas mãos
            devem ser talentosas e de extrema confiança, sem falar que as pessoas
            portadoras dessas mãos precisam estar próximas a Nós. Foi pensando
            seriamente nesses e noutros detalhes sobre roupas e profissionais de costura,
            que nasceu a Atellie Digital, uma plataforma 100% online que surgiu com o intuito
            de trazer inovação e eficiência na costura das suas roupas, servindo como um
            ponto de reencontro para você que é Profissional de Costura ou um Cliente, que
            assim como nós não consegue encontrar roupas do seu tamanho ideal ou as que
            fazem o seu estilo. Ademais, o nosso E-commerce não surgiu do nada! A Atelie
            Digital através de uma pesquisa feita no Estado de São Paulo entre jovens e
            adultos, concluiu que + de 50% dos Paulistas tem dificuldades de encontrar
            profissionais de costura para ajustar as suas roupas, sendo que mais de + de
            70% dos Paulistas gostariam de ter a oportunidade de mandar fazer as suas
            próprias roupas. Se você é um de nós que está com esse problema, a Ateliê está
            aqui para conectar você em fracção de minutos com os melhores Profissionais da
            área, que moram próximos a você. Esse é um dos nossos diferenciais. Para
            tanto, conte com a Ateliê Digital, porque essas dificuldades fazem parte das
            histórias de milhões de brasileiros, pessoas comuns como nós e vós.</p>
        
</div>


  <div class="jumbotron jumbotron-fluid ">
    <div class="container">
    <div class="card-deck" >
           
              <div class="flip-card-container">
                <div class="flip-card">
                  <div class="flip-card-front">
                    <img src="../assets/img/Van.jpeg">
                  </div>
                  <div class="flip-card-back">
                    <p>
                     -Desenvolvedora Java FullStack JR-
                     <span>Vanusa Saravalle </span>              
                    </p>
                    
                  </div>
                </div>
              </div>

              <div class="flip-card-container">
                <div class="flip-card">
                  <div class="flip-card-front">
                    <img src="../assets/img/Pablo.jpeg">
                  </div>
                  <div class="flip-card-back">
                    <p>
                      -Java Software Developer Junior-
                      <span>Pablo Barrantes Polan </span>  
                    </p>
                  </div>
                </div>
              </div>
              <div class="flip-card-container">
                  <div class="flip-card">
                    <div class="flip-card-front">
                      <img src="../assets/img/Diego.jpeg">
                    </div>
                    <div class="flip-card-back">
                      <p>
                        -Desenvolvedor Java Web Full Stack-
                        <span>Diego Aguiar</span>  
                      </p>
                    </div>
                  </div>
                </div>
           
              <div class="flip-card-container ">
                <div class="flip-card">
                  <div class="flip-card-front">
                    <img src="../assets/img/Hamilton.jpeg">
                  </div>
                  <div class="flip-card-back">
                    <p>
                      -Java Developer Full-stack Developer Jr. | Customer Success Analyst | Teacher |-
                      <span>Hamilton A. C. Correia</span>  
                    </p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        </div>

