<nav class="navbar navbar-fixed-top navbar-expand-lg text-white" style="background: white">
    <div class="container">
            <a class="navbar-brand h1" href="/home"> <img src="../../../assets/img/logo.jpeg"
                 width="300" height="100" alt=""></a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-white " id="navbarSite">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home">Home</a>
                    
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/sobre-nos">Sobre nós</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/contato">Contato</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/encontre">Encontre um Profissional</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="">Seja um profissional</a>
                    </li>

                </ul>

            </div>
    </div>
</nav>