
<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="home"><img src="../assets/img/logo.jpeg"
      width="300" height="100" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="" >Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sobre-nos" >Sobre nós</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contato" >Contato</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lista-profissionais" >Encontre um profissional</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/login" >Entre</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/profissionais/adicionar" >Seja um profissional</a>
          </li>

      </ul>

    </div>
  </nav>
